@page
@model ThisIsSnackis.Pages.Admin.Comments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Kommentar</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.ThePostId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.ThePostId)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == "elvirarunnberg@hotmail.com" || User.Identity.IsAuthenticated && User.Identity.Name == Model.Comment.UserId)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Comment.Id" class="custom-link">Redigera</a>
    }
    
    <a href="javascript:history.go(-1);" class="custom-link">Tillbaka</a>
</div>
